<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM Dashboard</title>
    <!-- Load custom static files -->
     {% load static %}
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>
<body class="bg-white font-family-karla flex">

    <aside class="relative bg-sidebar h-auto w-64 hidden sm:block shadow-xl rounded-lg m-3">
        <div class="p-6">
            <a href="{% url 'dashboard' %}" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">CRM</a>
            
        </div>
        <nav class="text-white text-base font-semibold pt-3">
            <a href="{% url 'dashboard' %}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item {% if request.resolver_match.url_name == 'dashboard' %}active:text-white opacity-100{% endif %}">
                Dashboard
            </a>
            <a href="{% url 'customer_list' %}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item {% if request.resolver_match.url_name == 'customer_list' %}active:text-white opacity-100{% endif %}">
                Customers
            </a>
            <a href="{% url 'project_list' %}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item {% if request.resolver_match.url_name == 'project_list' %}active:text-white opacity-100{% endif %}">
                Projects
            </a>
            <a href="{% url 'document_list' %}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item {% if request.resolver_match.url_name == 'document_list' %}active:text-white opacity-100{% endif %}">
                Documents
            </a>
            <a href="{% url 'customer_list' %}" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item {% if request.resolver_match.url_name == 'customer_list' %}active:text-white opacity-100{% endif %}">
                Payments
            </a>
        </nav>
    </aside>

    <div class="w-full flex flex-col h-screen overflow-y-hidden">
        <!-- Desktop Header -->
        {% comment %} <header class="w-auto items-center bg-gray-200 py-2 px-6 hidden sm:flex mr-3 my-3 rounded-lg">
            <div class="w-1/2 text-3xl text-black">{% block title %}{% endblock %}</div>
            <div id="dropdown" class="relative w-1/2 flex justify-end">
                <button id="toggleDropdown" class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none">
                    <img src="https://source.unsplash.com/uJ8LNVCBjFQ/400x400">
                </button>
                <div id="menu" class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16 hidden">
                    <a href="#" class="block px-4 py-2 account-link hover:text-white">Account</a>
                    <a href="#" class="block px-4 py-2 account-link hover:text-white">Support</a>
                    <a href="#" class="block px-4 py-2 account-link hover:text-white">Sign Out</a>
                </div>
            </div>
        </header> {% endcomment %}


        <header class="w-auto items-center bg-gray-200 py-2 px-6 hidden sm:flex mr-3 my-3 rounded-lg">
            <div class="w-1/2 text-3xl text-black">{% block title %}{% endblock %}</div>
            <div id="dropdown" class="relative w-1/2 flex justify-end">
                <button id="toggleDropdown" class="relative z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none">
                    <img src="" alt="Profile Picture">
                </button>
        
                <!-- Dropdown Menu -->
                <div id="menu" class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16 hidden">
                    {% if user.is_authenticated %}
                        <a href="#" class="block px-4 py-2 account-link hover:text-white">Account</a>
                        <a href="#" class="block px-4 py-2 account-link hover:text-white">Support</a>
                        
                        <form action="{% url 'logout' %}" method="post" class="block px-4 py-2 account-link hover:text-white">
                            {% csrf_token %}
                            <button type="submit" >Logout</button>
                        </form>
                        
                    {% else %}
                        <a href="{% url 'login' %}" class="block px-4 py-2 account-link hover:text-white">Login</a>
                        <a href="#" class="block px-4 py-2 account-link hover:text-white">Support</a>
                    {% endif %}
                </div>
            </div>
        </header>
{% comment %}         
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#toggleDropdown').click(function(event) {
                    event.stopPropagation();
                    $('#menu').toggleClass('hidden');
                });
        
                $(document).click(function() {
                    $('#menu').addClass('hidden');
                });
            });
        </script> {% endcomment %}
        

        <!-- Mobile Header & Nav -->
        <header id="header" class="w-auto bg-sidebar py-5 px-6 sm:hidden m-3 rounded-lg">
            <div class="flex items-center justify-between">
                <a href="{% url 'dashboard' %}" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Admin</a>
                {% comment %} <button id="toggleMenu" class="text-white text-3xl focus:outline-none"> {% endcomment %}
                    <div class="barContainer">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                {% comment %} </button> {% endcomment %}
            </div>

            <!-- Dropdown Nav -->
            <nav id="dropdownNav" class="hidden flex-col pt-4">
                <a href="{% url 'dashboard' %}" class="flex items-center active-nav-link text-white py-2 pl-4 nav-item">
                    Dashboard
                </a>
                <a href="{% url 'customer_list' %}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    Customers
                </a>
                <a href="{% url 'project_list' %}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    Projects
                </a>
                <a href="{% url 'document_list' %}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    Documents
                </a>
                <a href="{% url 'customer_list' %}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    Tabbed Content
                </a>
                <a href="{% url 'customer_list' %}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    Calendar
                </a>
                <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    Support
                </a>
                <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    My Account
                </a>
                <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    Sign Out
                </a>
            </nav>
        </header>
    
        {% block content %}
        {% endblock %}
        
    </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>