{% extends "customer_management/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="w-full overflow-x-hidden border-t flex flex-col">
  <main class="w-full flex-grow p-6">
     
      
      <h1 class="text-3xl text-black pb-6">Dashboard</h1>
  
      <!-- Dashboard Content Goes Here -->
      <div class="stats">
        <p>Total Customers: {{ total_customers }}</p>
        <p>Not Started: {{ not_started_projects }}</p>
        <p>Ongoing Projects: {{ ongoing_projects }}</p>
        <p>Completed Projects: {{ completed_projects }}</p>
      </div>
  
    </main>
  </div>


{% endblock %}