<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8" />
  <title>Document List</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>
<body>
  <h1>Documents</h1>
  <ul>
    {% for document in documents %}
    <li>
        <a href="{{ document.file.url }}">{{ document.file.name }}</a>
        <a href="{% url 'document_delete' document.id %}">Delete</a>
    </li>
    {% empty %}
      <li>No documents found.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'document_upload' %}">Upload New Document</a>
</body>
</html>