{% extends 'customer_management/base.html' %}

{% block title %}Customer List{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
  </div>
  <div class="row">
      <!-- Dashboard Content Goes Here -->
      <h1>Are you sure you want to delete "{{ project.name }}"?</h1>
      <form method="POST">
        {% csrf_token %}
        <button type="submit">Confirm</button>
      </form>
      <a href="{% url 'project_list' %}">Cancel</a>
  
  </div>
</main>


{% endblock %}