{% extends 'customer_management/base.html' %}

{% block title %}Customer List{% endblock %}

{% block content %}

<div class="w-full overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6">
       
        
        <h1 class="text-3xl text-black pb-6">Project List</h1>
    
        <!-- Dashboard Content Goes Here -->
        <a href="{% url 'project_create' %}">Add New Project</a>
        <table>
          <tr>
              <th>Title</th>
              <th>Customer</th>
              <th>Status</th>
              <th>Actions</th>
          </tr>
          {% for project in projects %}
          <tr>
              <td><a href="{% url 'project_detail' project.id %}">{{ project.title}}</a></td>
              <td><a href="{% url 'customer_detail' project.customer.id %}">{{ project.customer.name }}</a></td>
              <td>{{ project.get_status_display }}</td>
              <td>
                  <a href="{% url 'project_edit' project.pk  %}">Edit</a>
                  <form action="{% url 'project_delete' project.pk %}" method="POST" style="display:inline;">
                      {% csrf_token %}
                      <button type="submit">Delete</button>
                  </form>
              </td>
          </tr>
          {% endfor %}
    
        </main>
    </div>

{% endblock %}