.font-family-karla { font-family: roboto; }
.bg-sidebar { background: #001440; }
.active-nav-link {color: white; opacity: 100;}
.nav-item:hover { background: #0b1f68; }
.account-link:hover { background: #0b1f68; }
table {
    border-collapse: separate;
    border-spacing: 0 5px;
  }


  .barContainer {
    display: block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

/* In your CSS file */
.messages .message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
.message.success { background-color: #d4edda; color: #155724; }
.message.error { background-color: #f8d7da; color: #721c24; }
