.font-family-karla { font-family: roboto; }
.bg-sidebar { background: #001440; }
.active-nav-link { background: #c8cfe893; }
.nav-item:hover { background: #0b1f68; }
.account-link:hover { background: #0b1f68; }
table {
    border-collapse: separate;
    border-spacing: 0 5px;
  }
